# 주피터랩 단축키
- a:위 셀 추가
- b:아래 셀 추가
- Ctrl + Shift + 방향키: 셀 이동(위, 아래)
- Shift + Enter : 셀 실행
- dd: 셀 삭제
- x: 셀 잘라내기
- v: 셀 붙여넣기
- c: 셀 복사하기
- z: undo
- Shift + z: redo
- m: markdown y: code

# 기초

In [1]:
# print("처음이에요")
print("실제로는 두 번째")

실제로는 두 번째

In [2]:
2**10

1024

In [3]:
import time as t
print("배고프다",end= "\r") #end사용시 다음문과 붙어서 적용
t.sleep(1)
print("근데  ",end="\r")
t.sleep(1)
print("시간이 많이 남았어")

시간이 많이 남았어

In [4]:
print(1,2,3,4,5, sep='-')

1-2-3-4-5

# 자료형

## 숫자형

In [5]:
# 사칙연산 예
sachik = 777
sem = 100
print('덧셈',sachik + sem, end='\n===================== \n')
print('뺄셈',sachik - sem, end='\n===================== \n')
print('곱셈',sachik * sem, end='\n===================== \n')
print('나누기',sachik / sem, end='\n===================== \n')
print('몫',sachik // sem, end='\n===================== \n')
print('나머지',sachik % sem, end='\n===================== \n')
print('승',sachik ** 2, end='\n===================== \n')

덧셈 877
=====================
뺄셈 677
=====================
곱셈 77700
=====================
나누기 7.77
=====================
몫 7
=====================
나머지 77
=====================
승 603729
=====================

In [6]:
# 정수형
a = 123
b = -178
c = 0
print(a,b,c)

123 -178 0

In [7]:
# 실수형
aa = 1.2
bb = -3.14
cc = 4.24e-10
print(aa,bb,cc)

1.2 -3.14 4.24e-10

In [8]:
# 2진수(bin) 8진수(oct) 16진수(hex)
aaa = 0b1111 #2진수 0b
bbb = 0o177 #8진수 0o
ccc = 0xabc #16진수 0x
print(aaa,bbb,ccc)

15 127 2748

In [9]:
# 복합연산자 =+ -= *= /= //= %= **=
a=1
a=a+1
print(a)
a=a+1
print(a)
a=a+1
print(a)

2
3
4

In [10]:
a +=1
print(a)
a -=1
print(a)
a -=1
print(a)
a -=1
print(a)

5
4
3
2

## 문자열 자료형

### 문자열 연산하기

In [11]:
# 주석처리입니다.
str1= '문자형입니다.'
print(str1)
str2 = '''
이것은 여러줄 문자열 처리 입니다.
'''
print(str2)
str3 = """
이것도 여러줄 문자열 처리 입니다.
"""
print(str3)

문자형입니다.

이것은 여러줄 문자열 처리 입니다.


이것도 여러줄 문자열 처리 입니다.

In [13]:
#food = "python's favorite food is perl"
food = 'python\'s favorite food is perl'
print(food)

python's favorite food is perl

In [1]:
a='안녕하세요\r 감사합니다'
b='안녕하세요\n 감사합니다'
c='안녕하세요\f 감사합니다'
print(a,b,c)

 감사합니다 안녕하세요
 감사합니다 안녕하세요 감사합니다

In [14]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [ ]:
multiline='''
Life is too short
You need python
'''
print(multiline)

<table>
<thead>
<tr>
<th>코드</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>\n</code></td>
<td>문자열 안에서 줄을 바꿀 때 사용</td>
</tr>
<tr>
<td><code>\t</code></td>
<td>문자열 사이에 탭 간격을 줄 때 사용</td>
</tr>
<tr>
<td><code>\\</code></td>
<td><code>\</code>를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\'</code></td>
<td>작은따옴표(')를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\"</code></td>
<td>큰따옴표(")를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\r</code></td>
<td>캐리지 리턴(줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)</td>
</tr>
<tr>
<td><code>\f</code></td>
<td>폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)</td>
</tr>
<tr>
<td><code>\a</code></td>
<td>벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)</td>
</tr>
<tr>
<td><code>\b</code></td>
<td>백 스페이스</td>
</tr>
<tr>
<td><code>\000</code></td>
<td>널 문자</td>
</tr>
</tbody>
</table>

In [16]:
# 문자열 연산하기
head = 'Python'
tail = ' is fun!'
print(head + tail)

Python is fun!

In [18]:
a = 'Python' + '\n'
print(a*5)

Python
Python
Python
Python
Python

In [42]:
# 숫자계산
p1 = 5500 * 3
p2 = 7200 * 1
p3 = 6000 * 2

# 문자열계산
m1 = "아메리카노:" + str(p1) + "원" + "\n" #문자랑 숫자는 더할 수 없다. (str문 사용)
m2 = "라떼:" + str(p2) + "원" +"\n"
m3 = "허브티:" + str(p3) + "원" +"\n"

# 출력조합
title="     " + " 영 수 증" + "\n"  #문자와 문자는 더할 수 있다.
line = "="*20 + "\n"
# print("="*20)
# print(title)
# print("="*20)
# print(m1 + m2 + m3)
# print("="*20)

print(line + title + line + m1 + m2 + m3 + line)

====================
      영 수 증
====================
아메리카노:16500원
라떼:7200원
허브티:12000원
====================

### 문자열 인덱싱과 슬라이싱

In [43]:
a = "Life is too short"
print(len(a))

17

In [49]:
print(a[8]+a[9]+a[10])
print(a[8],a[9],a[10])

too
t o o

In [50]:
print(a[-1],a[-2])

t r

In [52]:
a = 'Life is too short, You need Python' 
print(a[8:11]) # 8 <= a < 11
print(a[23:27])

too
need

In [53]:
print(a[28:])

Python

In [54]:
print(a[::-1])

nohtyP deen uoY ,trohs oot si efiL

In [70]:
today = '20250203오늘은 화창하다'
year = today[0:4]+"년"
month = today[4:6]+"월"
day = today[6:8]+"일"
weather = today[8:]
print(year,month,day,weather)

2025년 02월 03일 오늘은 화창하다

In [8]:
import requests
url = 'https://v.daum.net/v/20250203151815463'
res = requests.get(url).text
print(res[374:411])
print(res[374:409]+'3'+res[410:411])

한국서 돈벌고 '나 몰라라' 코스트코… 연회비 인상률은 미국의 2배
한국서 돈벌고 '나 몰라라' 코스트코… 연회비 인상률은 미국의 3배

In [111]:
import requests
url = 'https://blog.naver.com/droad777' 
res = requests.get(url).text
res1 = res[895:915]
print("대빵"+res1[-18:])
print("대빵"+res1[2:])

대빵의 톡쏘는 일상 : 네이버 블로그
대빵의 톡쏘는 일상 : 네이버 블로그

### 문자열 포매팅

In [9]:
print("I eat 3 apples.")
print("I eat %d apples."%17)
print("I eat %s apples."%"five")

I eat 3 apples.
I eat 17 apples.
I eat five apples.

<table>
<thead>
<tr>
<th>코드</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td>%s</td>
<td>문자열(String)</td>
</tr>
<tr>
<td>%c</td>
<td>문자 1개(character)</td>
</tr>
<tr>
<td>%d</td>
<td>정수(Integer)</td>
</tr>
<tr>
<td>%f</td>
<td>부동소수(floating-point)</td>
</tr>
<tr>
<td>%o</td>
<td>8진수</td>
</tr>
<tr>
<td>%x</td>
<td>16진수</td>
</tr>
<tr>
<td>%%</td>
<td>Literal % (문자 <code>%</code> 자체)</td>
</tr>
</tbody>
</table>

In [22]:
print("사람 몸의 수분은 %d%% 이다."%                60)

사람 몸의 수분은 60% 이다.

In [ ]:
print("십진수로 %d은 16진수로 %x이다."%(123,123))
print("십진수로 %d은 8진수로 %o이다."%(123,123))

In [19]:
print("십진수로 %d은 16진수로 %x이고 8진수로 %o이다."%(123,123,123))

십진수로 123은 16진수로 7b이고 8진수로 173이다.

In [1]:
# 정렬과 공백(오른쪽 정렬)
print("%10s"%"hi")

print("%-10sjame" %"hi") #음수일때 왼쪽 정렬

        hi
hi        jame

<img alt="" src="https://wikidocs.net/images/page/13/02_2_formating1.png" width=300>

In [30]:
#소숫점 표현하기
print("%0.4f" %3.141592)
print("%10.4f" %3.141592)

3.1416
    3.1416

<img alt="" src="https://wikidocs.net/images/page/13/02_2_formating3.png" width=300>

### format 함수를 사용한 포매팅

In [32]:
print("I eat {0} of {1} apples.".format(3,10))

I eat 3 of 10 apples.

In [40]:
total = 10
ea = "three"
print("I eat {0} of {1} apples." .format(ea,total))

I eat three of 10 apples.

In [41]:
print("I eat {ea} of {total} apples.".format(ea="three",total=10))

I eat three of 10 apples.

In [44]:
print("I ate {0} apples. so I was sick for {day} days.".format(10,day=3))

I ate 10 apples. so I was sick for 3 days.

In [74]:
# 우측정렬
print("{0:>10}".format("hi"))

#가운데 정렬
print("{0:^10}".format("hi"))

# 좌측정렬
print("{0:<10}".format("hi"))

        hi
    hi
hi

In [53]:
# 가운데 정렬 + 글자 채우기
print("{0:ㅋ^20}".format("웃겨!"))

ㅋㅋㅋㅋㅋㅋㅋㅋ웃겨!ㅋㅋㅋㅋㅋㅋㅋㅋㅋ

In [55]:
# 소수점 표현하기
pi = 3.141592
print("{0:20.4f}".format(pi))

              3.1416

In [57]:
# 이스케이프처리
print("{0}는 {{ 과 }} 입니다.".format("중괄호"))

중괄호는 { 과 } 입니다.

In [63]:
# 2진수 처리
print("{0:b}".format(123))

1111011

In [70]:
# 출력하라 0111 1011
print("{0:>08b}".format(123))

01111011

### f문자열 포매팅

In [78]:
name = "이성훈" 
age = 26
# "  ".format() -> f"  "
print(f"나의 이름은 {name}입니다. 나이는 {age}입니다.")
print(f"내년이면 {age + 1}살이 됩니다.")

나의 이름은 이성훈입니다. 나이는 26입니다.
내년이면 27살이 됩니다.

In [81]:
d = {'name':'홍길동','age':30,'gen':'male'}
print(f'나의 이름은 {d['name']} 입니다. 나이는 {d['age']} 입니다. 성별은 {d['gen']} 입니다.')

나의 이름은 홍길동 입니다. 나이는 30 입니다. 성별은 male 입니다.

In [93]:
print(f'{'hi':=<20}')
print(f'{'hi':=^20}')
print(f'{'hi':=>20}')

hi==================
=========hi=========
==================hi

### 문자열 관련 함수들

In [98]:
# 문자 개수 세기 count
a = "hobby"
a.count('b')
"hobby".count('b')

2

In [101]:
out = res[374:411]
print(out)
print(res[374:411].count('코'))

한국서 돈벌고 '나 몰라라' 코스트코… 연회비 인상률은 미국의 2배
2

In [104]:
# 위치알려주기1 find
print(out)
print(out.find('코'))
print(out.find('밥'))

한국서 돈벌고 '나 몰라라' 코스트코… 연회비 인상률은 미국의 2배
16
-1

In [105]:
print(res.find('코스트코'))

390

In [117]:
import requests
url = 'https://music.apple.com/kr/playlist/%EC%98%A4%EB%8A%98%EC%9D%98-top-100-%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD/pl.d3d10c32fbc540b38e266367dc8cb00c'
res = requests.get(url).text
# print(res.find('toxic till the end')) #없을경우 -1
print(res.index('toxic till the end')) #없을경우 오류 발생
print("좋아하는 노래제목:" + res[41529:41547])

41529
좋아하는 노래제목:toxic till the end

In [119]:
# 문자열 삽입 join *
# 리스트를 문자열로
print(",".join('abcdefg'))
print(",".join(['a','b','c','d']))

a,b,c,d,e,f,g
a,b,c,d

In [13]:
# 소문자를 대문자로 바꾸기 upper
a = "hi"
a[0] = a[0].upper()
print(a)
print(a.upper())

TypeError: 'str' object does not support item assignment

In [125]:
 # 대문자를 소문자로 바꾸기 lower
a = "HI"
print(a.lower())

hi

In [126]:
v = "Life is Egg"
big = v.upper()
small = v.lower()
print(v)
print(big)
print(small)

Life is Egg
LIFE IS EGG
life is egg

In [137]:
# 공백지우기
a="     hi      "
aa = a.lstrip()
bb = a.rstrip()
cc = a.strip()
print(a)
print(aa)
print(bb)
print(cc)

     hi
hi
     hi
hi

In [1]:
f = f"{'hi':^20}"
fl = f.lstrip()
fr = f.rstrip()
f3 = f.strip()
print(f)
print(fl)
print(fr)
print(f3)

         hi
hi
         hi
hi

In [139]:
# 문자열 바꾸기 replace **
a = "Life is Egg"
c = a.replace("Egg","Beautiful")
print(a)
print(c)

Life is Egg
Life is Beautiful

In [1]:
# 문자열 나누기 split *
# 문자열을 배열로
a = "Life is Egg"
aa = a.split()
print(aa)
print(type(aa))

['Life', 'is', 'Egg']
<class 'list'>

In [2]:
ex = "abcdefghi"
ex_join = "=".join(ex)  #문자열 삽입
print(ex_join)
ex_split = ex_join.split("=")  #문자열 나누기
print(ex_split)
ex_replace = ex_join.replace("=","") # 문자열 바꾸기
print(ex_replace)

a=b=c=d=e=f=g=h=i
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
abcdefghi