# 자료형

## 리스트 자료형

### 리스트의 인덱싱과 슬라이싱

In [1]:
odd = [1,3,5,7,9]
a = []
b = [1,2,3]
c = ['Life','is','too','short']
d = [1,2,'Life','is']
e = [1,2,['Life','is']]
print(e[2])
print(e[2][0])

['Life', 'is']
Life

In [2]:
print(b[1] + b[2])
print(c[0] + c[3])
print(c[0]*b[2])

5
Lifeshort
LifeLifeLife

In [3]:
# 리스트의 슬라이싱
a = [11,22,33,44,55]
print(a[0:2])
print(a[2:])
print(a[:-3])
print(a[-2:])
print(a[::-1])

[11, 22]
[33, 44, 55]
[11, 22]
[44, 55]
[55, 44, 33, 22, 11]

### 리스트 연산, 수정, 삭제

In [4]:
a = [11,22,33]
b = [44,55,66]
print(a + b) #리스트 더하기
c = a*3   #리스트 반복하기
print(c)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 11, 22, 33, 11, 22, 33]

In [5]:
# 리스트 값 수정하기
a = [11,22,33]
a[2] = 44
print(a)
# a[3] = 55 없는 요소를 수정하는 것은 에러
# print(a)
# a[1] = None 빈칸 수정 삽입
del a[1] # 리스트값 삭제하기
print(a)

[11, 22, 44]
[11, 44]

In [6]:
print(c) #리스트값 슬라이싱으로 삭제
del c[:4]
print(c)

[11, 22, 33, 11, 22, 33, 11, 22, 33]
[22, 33, 11, 22, 33]

### 리스트 관련 함수

In [7]:
c.clear() # 리스트 요소 비우기
print(c)

[]

In [8]:
a = [] # 리스트 초기화

In [9]:
# 리스트에 요소 추가하기 - append
a.append(4)
a.append([11,22])
print(a)

[4, [11, 22]]

In [10]:
b = []
num = 0

In [11]:
num += 1
b.append(num)
print(b)

[1]

In [12]:
 # 리스트 정렬(오름차순) - sort
a = [11,44,33,22,55]
a.sort()
print(a)

[11, 22, 33, 44, 55]

In [13]:
 # 리스트 정렬(내림차순) - sort
a = [11,44,33,22,55]
a.sort(reverse =True)
print(a)

[55, 44, 33, 22, 11]

In [14]:
 # 리스트 정렬 원본 유지하기
aa = [66,77,88,99,0]
bb = sorted(aa)
cc = sorted(aa, reverse=True)
print(aa)
print(bb)
print(cc)

[66, 77, 88, 99, 0]
[0, 66, 77, 88, 99]
[99, 88, 77, 66, 0]

In [15]:
 # sorted 응용
fruit = ['banana','kiwi','orange','melon','pear','apple','strawberry','blueberry']
result = sorted(fruit,key=len)
result2 = sorted(fruit,key=len,reverse=True)
print(fruit)
print(result)
print(result2)

['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
['kiwi', 'pear', 'melon', 'apple', 'banana', 'orange', 'blueberry', 'strawberry']
['strawberry', 'blueberry', 'banana', 'orange', 'melon', 'apple', 'kiwi', 'pear']

In [16]:
 # 리스트 뒤집기 - reverse
a = [11,44,33,22,55]
a.reverse()
print(a)

[55, 22, 33, 44, 11]

In [17]:
for r in result:
    if r == 'banana':
        print(r + '못먹겠어 웩')
    if r != 'banana':
        print(r + '냠냠 맛있다')
print('와 다먹었다')

kiwi냠냠 맛있다
pear냠냠 맛있다
melon냠냠 맛있다
apple냠냠 맛있다
banana못먹겠어 웩
orange냠냠 맛있다
blueberry냠냠 맛있다
strawberry냠냠 맛있다
와 다먹었다

In [18]:
# 인덱스 반환 - index
fruit = ['banana','kiwi','orange','melon','pear','apple','strawberry','blueberry']
fruit.index('melon')

3

In [19]:
# 인덱스 응용
fruit = ['banana','kiwi','orange','melon','pear','apple','strawberry','blueberry']
want = input('먹고싶은 과일을 입력하세요')
where = fruit.index(want)
print(f'{want}를 좋아하시는군요! 그것은 {where + 1}번 째에 있습니다.')

먹고싶은 과일을 입력하세요 kiwi

kiwi를 좋아하시는군요! 그것은 2번 째에 있습니다.

In [20]:
# 리스트에 요소 삽입 - insert
num = [11,22,33,55,66,77,88]
print(num)
num.insert( 3,44)
print(num)

[11, 22, 33, 55, 66, 77, 88]
[11, 22, 33, 44, 55, 66, 77, 88]

In [21]:
ex = []

In [22]:
ex.insert(0,'맨앞')
print(ex)
ex.insert(-1,'-1인덱스')
print(ex)
ex.insert(0,'맨앞')
print(ex)
ex.insert(len(ex),'제일 끝') #제일 끝 삽입 가능
print(ex)

['맨앞']
['-1인덱스', '맨앞']
['맨앞', '-1인덱스', '맨앞']
['맨앞', '-1인덱스', '맨앞', '제일 끝']

In [23]:
# 리스트 요소제거 -remove
a = [1,2,3,1,2,3,]
a.remove(3)
print(a)

[1, 2, 1, 2, 3]

In [24]:
# 리스트 요소 끄집어 내기 - pop
a = [1,2,3]
hand = a.pop()
print(a)
print("받은거:",hand)

[1, 2]
받은거: 3

In [25]:
a = [1,2,3]
hand = a.pop(1)
print(a)
print("받은거", hand)

[1, 3]
받은거 2

In [26]:
# 리스트에 포함된 요소 x의 개수 세기 - count
st ="안녕하세요 반가워요"
print(st.count('요'))
a = [1,2,3,1,1,1,1,1,2,3,24,5,34,1,1]
print(a.count(1))

2
8

In [27]:
# 리스트 확장
a = [1,2,3,]
a.extend([4,5])
print(a)
b =[11,22,33]
c = [44,55,66]
print(b + c) #파이썬에서만 가능

[1, 2, 3, 4, 5]
[11, 22, 33, 44, 55, 66]

In [28]:
bag = []

In [29]:
# 장바구니

inp = input('필요한 항목을 넣어주세요.')
bag.append(inp)
print(f'장바구니에는 {bag}들이 있습니다.')

필요한 항목을 넣어주세요. rkrk

장바구니에는 ['rkrk']들이 있습니다.

In [30]:
# FIFO출력(큐 출력)
hand = bag.pop(0)
print(f'{hand}을 꺼내서 장바구니에{bag}이(가) 남았습니다.')

rkrk을 꺼내서 장바구니에[]이(가) 남았습니다.

In [31]:
#선택출력
bag = ['호박','감자','소주','맥주','피자']
print(bag)
bring = input('꺼내고 싶은 물품을 입력하세요.')
what = bag.pop(bag.index(bring))
print(what)
print(f'바구니에서 {what}을(를) 꺼내어 {bag}이 남았습니다.')

['호박', '감자', '소주', '맥주', '피자']

꺼내고 싶은 물품을 입력하세요. 호박

호박
바구니에서 호박을(를) 꺼내어 ['감자', '소주', '맥주', '피자']이 남았습니다.

In [32]:
# 테스트
a = [11,22,33,44,55,66]
choice = 33
hands = a.remove(choice)
print(f"{choice}을(를) 제거 하였습니다.")
print(a)

33을(를) 제거 하였습니다.
[11, 22, 44, 55, 66]

In [33]:
# 실습
bag = ['호박','감자','소주','맥주','피자']
# 물품 하나를 추가하기. 단, 지정한 물품 바로 뒤에 추가하기
test1 =input('추가할 물품을 지정해주세요.')
test2 =input('앞의 물품을 지정해주세요.')
where = bag.index(test2)
bag.insert(where+1, test1)
print(bag)

추가할 물품을 지정해주세요. 라면
앞의 물품을 지정해주세요. 피자

['호박', '감자', '소주', '맥주', '피자', '라면']

In [34]:
num = input('내가 누구게? 숫자를 입력하세요.')
print(num,type(num))

내가 누구게? 숫자를 입력하세요. 3

3 <class 'str'>

In [38]:
import requests
import json
url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=9P3zh9051kXxiU8f6zvUb1vmqHTIpcnY93yj&data=AP01'
res = requests.get(url).text
data = json.loads(res)
print(type(data))
result = data[-1]['deal_bas_r']
print(result,type(result))
#스트링을 숫자로 바꾸어라. 단 쉼표는 전처리하여 사용 가능하게 하라.
result2 = result.replace(",","").replace(".","")
int(result2)/10

<class 'list'>
1,460.8 <class 'str'>

1460.8

##### # 환률 계산기 만들기

test1 = input("원화로 계산할 달러를 입력하세요.")
won = int(test1)*1450.12
print(f"{test1}달러는 원화로 {won:,}원 입니다.")

In [ ]:
from IPython.display import clear_output
#test
inp1 = input('질문1')
clear_output(wait=True)
inp2 = input('질문2')
clear_output(wait=True)
inp3 = input('질문3')

In [ ]:
# from decimal import Decimal 더 정밀한 계산
# result = Decimal(rr)
rr = 1449.4*2
print(round(rr,1))

## 튜플 자료형

In [ ]:
t1 = ()
t2 = (2,)
t3 = (1,2,3)
t4 = 1, 2, 3
t5 = ('a','b',('ab','cd'))
print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

In [ ]:
# 튜플의 요소값을 삭제하려 할 때
t1 = (1,2,'a','b')
# del t1[0]
# 'tuple' object doesn't support item deletion

# 튜플 요솟값을 변경하려 할 때
# t1[0] = 'c'
# 'tuple' object does not support item assignment

# dir(tuple) #tuple()

In [4]:
# 인덱싱하기
t1 = (1,2,'a','b')
print(t1[0],t1[3])

1 b

In [ ]:
# 슬라이싱 
t1 = (1,2,'a','b')
print(t1[1:])

In [ ]:
# 튜플 더하기
t1 = (1,2,'a','b')
t2 = (3,4)
t3 = t1 + t2
print(t3)

In [5]:
#튜플 곱하기
t2=3, 4
t3 = t2*3
print(t3)

#튜플 길이 구하기
len(t3)

(3, 4, 3, 4, 3, 4)

6

In [ ]:
t1 = (1,2,3)
t2 = (4,)
t3 = t1 + t2
print(t3)

## 딕셔너리 자료형

In [103]:
dic = {'name':'pey','phone':'010-1234-5678','birth':'1118'}
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
010-1234-5678
1118

In [102]:
ad = [11,22,33,44,55]
at = 11,22,33,44,55
al = {0:11, 1:22, 2:33, 3:44, 4:55}
print(ad[0])
print(at[0])
print(al[0])

11
11
11

In [ ]:
# test
for l in al:
    print(l)
print('='*10)
for t in at:
    print(t)

In [105]:
a = {'aa':[1,2,3,4,5,]}
print(a['aa'])

[1, 2, 3, 4, 5]

### 딕셔너리 쌍 추가, 삭제하기

In [106]:
dic = {'name':'pey','phone':'010-1234-5678','birth':'1118'}
dic['address'] = 'busan'

print(dic)

{'name': 'pey', 'phone': '010-1234-5678', 'birth': '1118', 'address': 'busan'}

In [41]:
dic['array'] = [1,2,3,4,5,]
print(dic)

{'name': 'pey', 'phone': '010-1234-5678', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}

In [ ]:
print(dic)
del dic['birth'] 
print(dic)

In [104]:
# 딕셔너리 만들 때 주의할 사항
a = {1:'a', 1:'b'}
print(a)

{1: 'b'}

### 딕셔너리 관련함수

In [111]:
a = {'name': 'pey', 'phone': '010-1234-5678', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
# key 리스트 만들기
print(a.keys()) #리스트의 기능을 일부는 갖고 있음 
#value 리스트 만들기 - values
print(a.values())
print(list(a.values()))
#key,value 쌍 얻기 - items
print(a.items())
print(a)
#key, value 쌍 모두 지우기 - clear
a.clear()
print(a)

dict_keys(['name', 'phone', 'birth', 'address', 'array'])
dict_values(['pey', '010-1234-5678', '1118', 'busan', [1, 2, 3, 4, 5]])
['pey', '010-1234-5678', '1118', 'busan', [1, 2, 3, 4, 5]]
dict_items([('name', 'pey'), ('phone', '010-1234-5678'), ('birth', '1118'), ('address', 'busan'), ('array', [1, 2, 3, 4, 5])])
{'name': 'pey', 'phone': '010-1234-5678', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
{}

In [43]:
for k in a.keys():
    print(k)

name
phone
birth
address
array

In [108]:
a = {'name': 'pey', 'phone': '010-1234-5678', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
print(a.get('name'))
print(a.get('super')) #None 값 발생
print(a['money'])     #오류 발생

pey
None

KeyError: 'money'

In [51]:
a = {'name': 'pey', 'phone': '010-1234-5678', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
print('name' in a)

True

In [109]:
al = [11,22,33,44,55] 
at = 11,22,33,44,55
ad = {0:11,1:22,2:33,3:44,4:55}

print(22 in al) # 리스트
print(99 in at) # 튜플
print(1 in ad) # 딕셔너리의 키

True
False
True

In [ ]:
# 주피터랩 자동실행
@echo off
echo jupyter starting ....  주피터랩 자동시작
timeout 10 /nobreak 10초 후에 접속
jupyter lab
pause

In [56]:
# 실습 random 모듈
import random
menu = ["구내식당","후문편의점","자가도시락","굶기","과자"]

num1 = random.random()
print(f'0과 1사이의 랜덤 소수{num1}')
num2 = random.randint(1,100)
print(f'0과 1사이의 랜덤 실수{num2}')
lunch = random.choice(menu)
print(f'오늘의 선택된 메뉴는{lunch}추천드립니다.')
deck = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(deck)
print(deck)

0과 1사이의 랜덤 소수0.779297556251178
0과 1사이의 랜덤 실수95
오늘의 선택된 메뉴는과자!
[8, 6, 7, 9, 5, 1, 2, 3, 4, 10]

## 집합 자료형

In [61]:
s1 = set([1,2,3]) # 딕셔너리와 댜르게 key가 없고 value만 있음
print(s1,type(s1)) 
s2 = set("hello") # 리스트와 튜플은 순서가 있지만 set은 순서가 없음, 중복을 허용하지 않음
print(s2,type(s2)

{1, 2, 3} <class 'set'>
{'h', 'o', 'l', 'e'} <class 'set'>

In [65]:
# 집합 자료형의 특징
s1 = set([11,22,33,11,22])
l1 = list(s1)
print(l1,type(l1))
t1 = tuple(s1)
print(t1,type(t1))

[33, 11, 22] <class 'list'>
(33, 11, 22) <class 'tuple'>

### 교집합, 합집합, 차집합 구하기

In [69]:
# 교집합
s1 = set([1,2,3,4,5,6,])
s2 = set([4,5,6,7,8,9])
print(s1 & s2)
print(s1.intersection(s2))
print()

{4, 5, 6}
{4, 5, 6}

In [72]:
# 합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [73]:
# 차집합
print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{8, 9, 7}

### 집합 자료형 관련 함수

In [74]:
# 값 1개 추가하기
s1 = set([1,2,3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [75]:
# 값 여러개 추가하기 - update
s1 = set([1,2,3])
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [76]:
# 특정 값 제거하기 - remove
s1 = set([1,2,3])
s1.remove(2)
print(s1)

{1, 3}

## 불자료형

In [77]:
# True: 참을 뜻한다. (1)
# False: 거짓을 의미한다. (0)

In [78]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [81]:
print(int(4==5))

0

In [101]:
# 자료형의 참과 거짓
print(bool("python"))
print(bool(""))
print(bool([1,2,3]))
print(bool([]))
print(bool((1,2,3)))
print(bool())
print(bool({'a':1}))
print(bool(1))
print(bool(0))
print(bool(None))

True
False
True
False
True
False
True
True
False
False

In [99]:
# random으로 스토리 생성기 만들기

# 등장인물 리스트
characters = ["용감한기사","모험심 넘치는 고양이","호기심 많은 로봇","서투른 마법사","명석한 탐정","신나는 선생님"]
places = ["어두운 숲에서","먼 우주 행성에서","마법의 성에서","바닷속 도시에서","귀신이 나오는 흉가에서","재밌는 교실에서"]
events = ["숨겨진 보물을 발견했다.","무시무시한 용과 싸웠다.","비밀 통로를 발견했다.","고대의 미스터리를 풀었다.","왕국을 위험에서 구하였다.","꾸안꾸로 다녔다."]

ch = random.choice(characters)
pl = random.choice(places)
ev = random.choice(events)
ch2 = random.choice(characters)
pl2 = random.choice(places)
ev2 = random.choice(events)

print(f"어느 날, {ch}는 {pl} 모험을 떠나 {ev} 그리고 {ch2}는 {pl2} {ev2}")

어느 날, 서투른 마법사는 귀신이 나오는 흉가에서 모험을 떠나 비밀 통로를 발견했다. 그리고 신나는 선생님는 마법의 성에서 고대의 미스터리를 풀었다.

# 자료형의 값을 저장하는 공간, 변수

## 리스트의 옅은복사, 깊은복사

In [9]:
# 같은 저장공간
a = [1,2,3]
b = a
print(a,id(a))
print(b,id(b))

b[1] = 7
print(a,id(a))
print(b,id(b))

[1, 2, 3] 2066193134720
[1, 2, 3] 2066193134720
[1, 7, 3] 2066193134720
[1, 7, 3] 2066193134720

In [2]:
a is b

True

In [11]:
# 다른 저장공간

# d= c.copy() 방식1
import copy
c = [11,22,33]
d = copy.copy(c)
print(c,id(c))
print(d,id(d))

d[1] = 77
print(c,id(c))
print(d,id(d))

# d= copy 방식2
d = c[:] #방식3
from copy import copy
c = [11,22,33]
d = copy(c)
print(c,id(c))
print(d,id(d))

[11, 22, 33] 2066193044160
[11, 22, 33] 2066193112064
[11, 22, 33] 2066193044160
[11, 77, 33] 2066193112064
[11, 22, 33] 2066187029696
[11, 22, 33] 2066193102208

In [5]:
c is d

False

## 변수를 만드는 여러가지 방법

In [20]:
c = [11,22,33]
d = c[:]
print(c,id(c))
print(d,id(d))

[11, 22, 33] 2066193463936
[11, 22, 33] 2066193502784

In [21]:
a , b = '파이썬','짱짱'
[c,d] =['배고파','밥줘']
print(a,b)
print(c,d)
num1 = num2 = num3 = 10
print(num1,num2,num3)

파이썬 짱짱
배고파 밥줘
10 10 10

In [23]:
a = 3
b = 7
print(a,b)
a,b = b,a
print(a,b)

3 7
7 3