# 내장함수

In [3]:
# abs *   - 절대값 리턴
print(abs(-3))
print(abs(1.2))

3
1.2

In [9]:
# all *   - 하나라도 거짓일 경우 False 빈값은 True
print(all([1,2,3]))
print(all([11,22,0,44]))
print(all([])) # 특이사항

True
False
True

In [14]:
# any *   - 하나라도 참일경우True 빈값은 False
print(any([0,'',[],False]))
print(any([11,22,0,44]))
print(any([])) # 특이사항

False
True
False

In [18]:
# 아스키코드
print(chr(65))
print(chr(44032))
# 유니코드 - UTF -8(인코딩방식)
print(ord('A'))
print(ord('가'))

A
가
65
44032

In [47]:
for i in range(65, 91):
    print(chr(i),end = ' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [50]:
a=[]
j=0
for i in range (97,123):
    j+=1
    print(chr(123-j), end = " ")
    
#     a.append(chr(i))
# a.reverse()
# for i in a:
#     print(i, end =' ')

z y x w v u t s r q p o n m l k j i h g f e d c b a

In [59]:
for i in range(65,68):
    for j in range(1,11):
        print(chr(i) + f'{j}',end = " ")
    print('\n')

A1 A2 A3 A4 A5 A6 A7 A8 A9 A10

B1 B2 B3 B4 B5 B6 B7 B8 B9 B10

C1 C2 C3 C4 C5 C6 C7 C8 C9 C10

In [1]:
!java -version

java version "1.8.0_441"
Java(TM) SE Runtime Environment (build 1.8.0_441-b07)
Java HotSpot(TM) 64-Bit Server VM (build 25.441-b07, mixed mode)

In [12]:
# dir 객체가 가지고 있는 함수(메서드)를 보여줌  *
# dir({1:'a'})

In [17]:
# divmod  몫과 나머지
print(divmod(13,3)) 
print(13//3)
print(13%3)

(4, 1)
4
1

In [22]:
# enumerate **  열거하다
fruit = ['apple','banana','kiwi','cherry','mango']
for i,f in enumerate(fruit,start= 1):
    print(i,'번째 과일은',f)

1 번째 과일은 apple
2 번째 과일은 banana
3 번째 과일은 kiwi
4 번째 과일은 cherry
5 번째 과일은 mango

In [23]:
eval('1+2')

3

In [25]:
eval("'A'+'1'")

'A1'

In [30]:
# filter  *
def positive(l):
    result =[]                    
    for i in l:                    #양수만 걸러내서 저장할 변수
        if i > 0:
            result.append(i)
    return result
print(positive([1, -3, 2, 0, -5, 6]))

def pos(l):
    return [i for i in l if i>0]
print(pos([1,-3,2,0,-5,6]))

def positive(x):
    return x > 0 
print(list(filter(positive,[1,-3,2,0,-5,6])))

[1, 2, 6]
[1, 2, 6]
[1, 2, 6]

In [45]:
# hex, oct, bin
print(hex(234))
print(oct(9))
print(bin(9))
print(chr(int(hex(30)[2:],16)))

0xea
0o11
0b1001

In [48]:
# id 고유 주솟값을 리턴
a = 3
print(id(3))
print(id(a))
b=a
print(id(b))
print(all([id(3)==id(a),id(a)==id(b),id(b)==id(3)]))

140719701951464
140719701951464
140719701951464
True

In [49]:
# input *
# input은 스트링으로 값을 전달받는다. 그러므로 계산시 int나 float으로 변경할 것

In [50]:
# int *
#문자를 숫자로 변환, 정수로 변환, 소수점이 사라짐.

In [54]:
# isinstance (object, class) 인스턴스 확인용

class Person:
    def p(self):
        return('사람입니다.')
class Animal: pass
a = Person()
b = Person()
c = Animal()
print(a.p())
print(b.p())
print(isinstance(a,Person))
print(isinstance(b,Person))
print(isinstance(c,Person))

사람입니다.
사람입니다.
True
True
False

In [55]:
# len **
print(len('python'))
print(len([1,2,3,4]))
print(len((1,'a')))

6
4
2

In [56]:
# list **

In [58]:
# map **
def two_items(nl):
    result = []
    for n in nl:
        result.append(n*2)
    return result
result = two_items([1,2,3,4])
print(result)

[2, 4, 6, 8]

In [63]:
def two_times(x):
    return x*2

list(map(two_times,[1,2,3,4]))

[2, 4, 6, 8]

In [64]:
list(map(lambda x: x*2 ,[1,2,3,4]))

[2, 4, 6, 8]

In [67]:
# 테스트
li=[1,2,3,4,5,6]
def odd(x):
    return x%2 != 0 
def even(x):
    return x%2 == 0
def add(x):
    return x + 10
def mul(x):
    return x*x
def addmul(x):
    return(x+10)*x
print(list(filter(odd,li)))
print(list(filter(add,li)))
print(list(map(add,li)))
print(list(map(mul,li)))
print(list(map(addmul,li)))

[1, 3, 5]
[1, 2, 3, 4, 5, 6]
[11, 12, 13, 14, 15, 16]
[1, 4, 9, 16, 25, 36]
[11, 24, 39, 56, 75, 96]

In [70]:
# max,min *
print(max([1,2,3,4,5,6,7]))
print(max('python'))    # 문자일 경우 유니코드 값으로 판단
print(min([1,2,3,4,5,6,7]))

7
1

In [72]:
# open *
# f = open('README.md','r',encoding='utf-8')
# f.read

In [75]:
# pow *
pow(5,2)

25

In [78]:
# range **
# 인수가 하나
print(list(range(5)))
# 인수가 2개
print(list(range(5,10)))
#인수가 3개
print(list(range(5,10,2)))
#역순(스탬조절)
print(list(range(15,0,-1)))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[5, 7, 9]
[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [82]:
# round *
print(round(3.45))
print(round(3.5556))
print(round(3.499))
print(round(3.499))
print(round(3.499,2))
print(round(3.499,3))

3
4
3
3
3.5
3.499

In [86]:
# sorted(iterable) * 정렬된 리스트로 리턴
s0 = [3,2,1,4,6,7]
s1 = sorted(s0)
s2 = sorted(s0, reverse = True)
print(s0)
print(s1)
print(s2)

[3, 2, 1, 4, 6, 7]
[1, 2, 3, 4, 6, 7]
[7, 6, 4, 3, 2, 1]

In [89]:
# str * 문자열로 변환
num = 23
st = str(num)
print(num,type(num))
print(st,type(st))

23 <class 'int'>
23 <class 'str'>

In [91]:
# sum * 이터러블데이터의 합을 리턴
print(sum([1,2,3,4,5]))

15

In [95]:
# tuple *
print(tuple("abc"))
print(tuple((1,2,3,4,5,6)))

('a', 'b', 'c')
(1, 2, 3, 4, 5, 6)

In [101]:
# type ** 자료형 확인
print(type('abc'))
print(type(1234))
print(type(open("foo.txt",'r'))) # 파일 자료형

<class 'str'>
<class 'int'>
<class '_io.TextIOWrapper'>

In [105]:
# zip ** 묶어서 리턴
fruit = ['apple','banana','kiwi','cherry','mango']
animal = ['dog','cat','elephant','Lion','rabbit']
num = [11,22,33,44,55]
for f,a,num in zip(fruit, animal,num):
    print(num,f,'=>',a)

11 apple => dog
22 banana => cat
33 kiwi => elephant
44 cherry => Lion
55 mango => rabbit

# 표준 라이브러리

In [118]:
import datetime
day1 = datetime.date(2025,2,3)
day2 = datetime.date(2025,7,25)
diff = day2 - day1
print("전체 수업시간:", diff.days,"일")
diff2 = day2 - datetime.datetime.now().date()
print("남은 수업시간:", diff2.days,"일")
print("지난 수업시간:", diff.days - diff2.days,"일")

전체 수업시간: 172 일
남은 수업시간: 157 일
지난 수업시간: 15 일

In [125]:
datetime.datetime.now().date()  #date()를 넣으면

datetime.date(2025, 2, 18)

In [124]:
days = ['월','화','수','목','금','토','일']
day = datetime.date(2000,10,2)
print("그날은",days[day.weekday()] +"요일입니다.")

그날은 월요일입니다.

In [27]:
def xmas():
    import datetime
    today = datetime.datetime.now().date()
    xmas = datetime.date(2025,12,25)
    dday = xmas - today
    print("크리스마스까지", f'{dday.days}' + '일 남았습니다.')

    days = ['월','화','수','목','금','토','일']
    print("크리스마스는", f"{days[xmas.weekday()]}"+"요일 입니다.")

In [31]:
xmas()

크리스마스까지 310일 남았습니다.
크리스마스는 목요일 입니다.

In [32]:
from team_5.date import 계산_4
계산_4.xmas()

크리스마스까지 310일 남았습니다.
크리스마스는 목요일 입니다.

In [56]:
# inp = input('생일을 입력하세요ex)yyyymmdd')
inp = str(20001002)
inp = list(inp)
print(inp)
inp.insert(4,'-')
inp.insert(7,'-')
print(inp,type(inp))
print(today,type(today))
print(xmas,type(xmas))

['2', '0', '0', '0', '1', '0', '0', '2']
['2', '0', '0', '0', '-', '1', '0', '-', '0', '2'] <class 'list'>
2025-02-18 <class 'datetime.date'>
<function xmas at 0x000002A6A0A74AE0> <class 'function'>

In [39]:
import sys

sys.path # 현재 시스템에 import되는 경로 확인
sys.path.append("d:\\lsh\\code\\team_5\\date") # 현재 시스템에 import되는 경로 추가
sys.path # 현재 시스템에 import되는 경로 확인

import 계산_1 as a1
import 계산_2 as a2
import 계산_3 as a3
import 계산_4 as a4
import 계산_5 as a5

a1.birthday()
a2.childrens()
a3.pday()
a4.xmas()
a5.chuseok()

생일 언제임 (월, 일만 입력해주고 숫자가 한자리이면 앞에 0붙여주기 안그러면 큰일남 귀찮게 해서 ㅈㅅ) 10월2일

큰일났음 다시 입력해주삼

생일 언제임 (월, 일만 입력해주고 숫자가 한자리이면 앞에 0붙여주기 안그러면 큰일남 귀찮게 해서 ㅈㅅ) 10월02일

어린이날은 월요일입니다. 현재 어린이날까지 76 일 남았습니다.
어버이날까지 79일 남았습니다. 어버이날은 목요일 입니다.
크리스마스까지 310일 남았습니다.
크리스마스는 목요일 입니다.
2025-07-25 수료 후 추석까지 73일 남고, 추석 당일은 월요일 입니다.

In [46]:
from team_5.date import 계산_1
계산_1.birthday()

생일 언제임 (월, 일만 입력해주고 숫자가 한자리이면 앞에 0붙여주기 안그러면 큰일남 귀찮게 해서 ㅈㅅ) 10월 02일

생일 목요일이었네 47일 지났네

In [57]:
import datetime

def birthday():
    
    inp = input("생일 언제임 (월, 일만 입력해주고 숫자가 한자리이면 앞에 0붙여주기 안그러면 큰일남 귀찮게 해서 ㅈㅅ)")
    inp = inp.replace('월','').replace('일','').replace('-','').replace(' ', '')
    
    if len(inp) != 4:
        print("큰일났음 다시 입력해주삼")
        inp = input("생일 언제임 (월, 일만 입력해주고 숫자가 한자리이면 앞에 0붙여주기 안그러면 큰일남 귀찮게 해서 ㅈㅅ)")
    else:
        month = int(inp[:2].replace('0', ''))
        print(month)
        date = int(inp[2:].replace('0', ''))
        print(date)
        birthday = datetime.date(2025,month,date)
        today = datetime.datetime.now().date()
        
        birthday_diff = today - birthday
        days = ['월','화','수','목','금','토','일']
        birthday_days = birthday.weekday()
        
        if birthday_diff.days < 0:
            print(f"생일 {days[birthday_days]}요일이네 {abs(birthday_diff.days)}일 남았다 미리 ㅊㅊㅊㅊ")
        elif birthday_diff.days > 0:
            print(f"생일 {days[birthday_days]}요일이었네 {abs(birthday_diff.days)}일 지났네")
        else:
            print("오늘 생일임? ㅊㅊㅊㅊ")

In [61]:
birthday()

생일 언제임 (월, 일만 입력해주고 숫자가 한자리이면 앞에 0붙여주기 안그러면 큰일남 귀찮게 해서 ㅈㅅ) 10월 02일

1
2
생일 목요일이었네 47일 지났네