In [5]:
import mysql.connector
try:
    conn1 = mysql.connector.connect(
        host="127.0.0.1", # MySQL 서버 주소
        user="root",
        password="1234"
    )
    conn2 = mysql.connector.connect(
        host="210.119.14.63", # MySQL 서버2 주소
        user="root",
        password="1234"
    )
    
    if conn1.is_connected():
        print("MySQL 서버1에 성공적으로 연결되었습니다.")
    if conn2.is_connected():
        print("MySQL 서버2에 성공적으로 연결되었습니다.")
        
except Exception as e:
    print("MySQL 연결 실패:",e)
finally:
    if all([conn1.is_connected(),conn2.is_connected()]):
        print("연결중....")

MySQL 서버1에 성공적으로 연결되었습니다.
MySQL 서버2에 성공적으로 연결되었습니다.
연결중....

In [6]:
# 커서 생성
cursor1 = conn1.cursor()
que = "CREATE DATABASE IF NOT EXISTS lshdb"
cursor1.execute(que)
conn1.close()

cursor2 = conn2.cursor()
que = "CREATE DATABASE IF NOT EXISTS jhsdb"
cursor2.execute(que)
conn2.close()

In [38]:
# MySQL에 연결
conn1 = mysql.connector.connect(
        host="mysql", # MySQL 서버 주소
        user="root",
        password="1234",
        database="lshdb" #사용할 데이터 베이스
    )

conn2 = mysql.connector.connect(
        host="210.119.14.63", # MySQL 서버 주소
        user="root",
        password="1234",
        database="jhsdb" #사용할 데이터 베이스
    )
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()
print("MySQL 연결성공!")

MySQL 연결성공!

In [39]:
# 테이블 생성
query = "CREATE TABLE IF NOT EXISTS users(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100), age INT, city VARCHAR(50))"
cursor1.execute(query)
cursor2.execute(query)
print("테이블 생성완료")

테이블 생성완료

In [40]:
#여러개의 데이터 삽입
sql = "INSERT INTO users(name, age, city) VALUES (%s, %s, %s)" 
m_values = [("이성훈",33,"Busan"),("성훈",17,"Incheon"),("추성훈",22,"Japan")]
cursor1.executemany(sql,m_values)
cursor2.executemany(sql,m_values)
conn1.commit()
conn2.commit()
print("여러개의 데이터를 두 대의 DB에 삽입 완료")

여러개의 데이터를 두 대의 DB에 삽입 완료

In [1]:
#강사님 DB 연동

In [3]:
import mysql.connector
try:
    conn1 = mysql.connector.connect(
        host="mysql", # MySQL 서버 주소
        user="root",
        password="1234"
    )
    conn2 = mysql.connector.connect(
        host="210.119.14.56", # MySQL 서버2 주소
        user="root",
        password="1234"
    )
    
    if conn1.is_connected():
        print("MySQL 서버1에 성공적으로 연결되었습니다.")
    if conn2.is_connected():
        print("MySQL 서버2에 성공적으로 연결되었습니다.")
        
except:
    print("MySQL 연결 실패:",err)
finally:
    if all([conn1.is_connected(),conn2.is_connected()]):
        print("연결중....")

MySQL 서버1에 성공적으로 연결되었습니다.
MySQL 서버2에 성공적으로 연결되었습니다.
연결중....

In [4]:
# 커서 생성
cursor1 = conn1.cursor()
que = "CREATE DATABASE IF NOT EXISTS lshdb"
cursor1.execute(que)
conn1.close()

cursor2 = conn2.cursor()
que = "CREATE DATABASE IF NOT EXISTS sh9051"
cursor2.execute(que)
conn2.close()

In [5]:
# MySQL에 연결
conn1 = mysql.connector.connect(
        host="mysql", # MySQL 서버 주소
        user="root",
        password="1234",
        database="lshdb" #사용할 데이터 베이스
    )

conn2 = mysql.connector.connect(
        host="210.119.14.56", # MySQL 서버 주소
        user="root",
        password="1234",
        database="sh9051" #사용할 데이터 베이스
    )
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()
print("MySQL 연결성공!")

MySQL 연결성공!

In [ ]:
# 테이블 생성
query = "CREATE TABLE IF NOT EXISTS StarBucks(name VARCHAR(100) PRIMARY KEY, address VARCHAR(100), type VARCHAR(50), reserve VARCHAR(50))"
cursor1.execute(query)
cursor2.execute(query)
print("테이블 생성완료")

In [ ]:
#여러개의 데이터 삽입
sql = "INSERT INTO users(name, address, type, reserve) VALUES (%s, %s, %s, %s)" 
cursor1.executemany(sql,star)
cursor2.executemany(sql,star)
conn1.commit()
conn2.commit()
print("여러개의 데이터를 두 대의 DB에 삽입 완료")