In [10]:
#!ping MONGODB

In [6]:
# !pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /home/pkdata/.local/lib/python3.10/site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
try:
    conn = mysql.connector.connect(
        host="mysql", # MySQL 서버 주소
        user="root",
        password="1234"
    )
    if conn.is_connected():
        print("MySQL 서버에 성공적으로 연결되었습니다.")
except:
    print("MySQL 연결 실패:",err)
finally:
    if conn.is_connected():
        print("연결중....")

MySQL 서버에 성공적으로 연결되었습니다.
연결중....

In [3]:
# 커서 생성
cursor = conn.cursor()
que = "CREATE DATABASE IF NOT EXISTS judb"
cursor.execute(que)
conn.close()

In [4]:
# MySQL에 연결
conn = mysql.connector.connect(
        host="mysql", # MySQL 서버 주소
        user="root",
        password="1234",
        database="judb" #사용할 데이터 베이스
    )
cursor = conn.cursor()
print("MySQL 연결성공!")

MySQL 연결성공!

In [13]:
# 테이블 생성
query = "CREATE TABLE IF NOT EXISTS users(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100), age INT, city VARCHAR(50))"
cursor.execute(query)
print("테이블 생성완료")

테이블 생성완료

In [16]:
# 단일 데이터 삽입
sql = "INSERT INTO users(name, age, city) VALUES (%s, %s, %s)"   #({name},{age},{city})"          
values = ("Alice",25,"Seoul")
cursor.execute(sql, values)
conn.commit()
print("1개의 데이터 삽입 완료, ID:", cursor.lastrowid)

1개의 데이터 삽입 완료, ID: 1

In [17]:
#여러개의 데이터 삽입
m_values = [("superman",33,"Busan"),("Cutegirl",17,"Incheon"),("Coolboy",22,"Daegu")]
cursor.executemany(sql,m_values)
conn.commit()
print("여러개의 데이터 삽입 완료")

여러개의 데이터 삽입 완료

In [36]:
# 모든 데이터 조회
que = "SELECT * FROM users"
cursor.execute(que)
users = cursor.fetchall()
for user in users:
    print(user)

(1, 'Alice', 23, 'Seoul')
(2, 'superman', 33, 'Busan')
(3, 'Cutegirl', 17, 'Incheon')

In [33]:
# 특정 조건 데이터 조회(24살 이상 조회)
que = "SELECT * FROM users"
filters = " WHERE age >= 24"
cursor.execute(que + filters)

filtered = cursor.fetchall()
for f in filtered:
    print(f)

(2, 'superman', 33, 'Busan')

In [31]:
# 특정 사용자의 나이 수정
sql = "UPDATE users SET age = %s WHERE name = %s"
values = (23, "Alice")
cursor.execute(sql, values)
conn.commit()
print("수정된 행 개수:", cursor.rowcount)

수정된 행 개수: 1

In [59]:
# 특정 사용자 삭제
que = "DELETE FROM users WHERE age > %s AND city = %s"
filters = (20, "Daegu")
cursor.execute(que, filters)
conn.commit()
print(f"{filters[0]}세 이상 {filters[1]}지역 사람 삭제되었습니다")

20세 이상 Daegu지역 사람 삭제되었습니다